@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    box-sizing: border-box;
  }
  #root{
    height: 100%;
  }
  
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(245,245,245);
  }
  
  
  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
  }
  
  input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
  }
  
  input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 1rem;
    pointer-events: auto;
    margin-top: -10px;
    cursor: pointer;
  }
  
  
  input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 1rem;
    margin-top: -10px;
    pointer-events: auto;
    cursor: pointer;
    
  }
  
  
  input[type="range"]::-ms-thumb {
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: white;  margin-top: -10px;
    border: solid 1px #ccc;
    border-radius: 1rem;
    pointer-events: auto;
    cursor: pointer;
  
  }
  
  input[type="range"]::-ms-thumb:active {
    border: solid 1px rgb(144, 211, 255);
  }
  input[type="range"]::-webkit-slider-thumb:active {
    border: solid 1px rgb(144, 211, 255);
  }
  input[type="range"]::-moz-range-thumb:active {
    border: solid 1px rgb(144, 211, 255);
  }
  
  iframe{
    width: 100%!important;
  }

  /* src/styles/global.css */

.transaction{
  @apply p-[10px] font-extralight text-xs text-secondary text-center uppercase;
}
.post-type-item{
  @apply flex items-center justify-center p-2 text-sm text-slate-600 text-center 

}

/* Tạo lớp tùy chỉnh */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
  -moz-appearance: textfield; /* Ẩn spinner trên Firefox */
}
/* Thanh tải */
.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #A7CAED;
  z-index: 9999;
}
.progress-bar {
  height: 100%;
  background-color:#1266DD;
  width: 0; /* Mặc định là 0 */
  transition: width 3s ease; /* Thêm hiệu ứng chuyển động mượt */
  animation: blinkEffect 0.8s infinite alternate; /* Áp dụng hiệu ứng nhấp nháy */
  border-radius: 50px;
}
 
@keyframes blinkEffect {
  0% {
    opacity: 1; /* Độ mờ 100% */
  }
  50% {
    opacity: 0.5; /* Độ mờ giảm xuống 30% */
  }
  100% {
    opacity: 1; /* Độ mờ lại trở về 100% */
  }
}